$TTL 1h
@ IN SOA ns1.gruppnamn.example.com. root.gruppnamn.example.com. (
                                        2023111301 ;SERIAL
                                        2h ; Refresh
                                        1h ; Retry
                                        1w ; expire
                                        1h ; Minimum
)
@        IN NS          ns1.gruppnamn.example.com.
2	 IN PTR		gruppnamn.example.com.
3	 IN PTR		client-1.gruppnamn.example.com.
4	 IN PTR		client-2.gruppnamn.example.com.
1	 IN PTR		gw.gruppnamn.example.com.
